<main class="col-md-8 col-lg-10 content">
  <h2>Registrar Nuevo Proveedor</h2>

  <!-- Datos del Proveedor -->
  <div class="todo">
    <label for="codigo">RUC:</label>
    <div class="ruc">
      <input type="text" id="ruc" name="ruc" #ruc />
      <button (click)="buscarRuc(ruc.value)">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-search"
          viewBox="0 0 16 16"
        >
          <path
            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"
          />
        </svg>
      </button>
    </div>

    <!-- Campos prellenados y normales -->
    <label for="nombre">Razón social:</label>
    <input type="text" value="{{ daSu.razonSocial }}" />

    <label for="direccion">Dirección:</label>
    <input type="text" value="{{ daSu.direccion }}" />

    <label for="contacto">Nombre de Contacto:</label>
    <input type="text" />

    <label for="telefono">Teléfono:</label>
    <input type="text" />

    <label for="correo">Correo Electrónico:</label>
    <input type="email" />
  </div>

  <!-- Botón para enviar el formulario -->
  <!--<button type="submit" class="btn btn-primary">Registrar Proveedor</button>-->
</main>
